body {
border-radius: 10%;
  background-image:url(images/redlau.JPG);
  background-repeat:no-repeat, repeat;
  background-position: center, left top;
  background-attachment: fixed, fixed;
  background-color:	#ffffff
  max-width: 100px;
  margin: 0 auto;
}
header {
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  font-family: 'Roboto';
  color: #000000;
  text-align: center;
padding: 25px 10px 25px 10px;
}
footer {
  border-radius: 45%;
  height: 100px;
  background-color: #ffffff;
  color: #ffffff;
  text-align: center;
padding: 100px 10px 30px 10px;
}
.container, nav{
  font-family: 'Oswald';
  text-align: center;
  display: block;
  margin:  rgb(255, 0, 0);px;

/*  padding-top: 200px;
  padding-bottom: 200px;
  */ padding: 150px 10px 30px 30px;
}
nav .btn {
    background-color: #dcdde1;
    color: #2e4b56;
    font-size: 22px;

    font-weight: 400;
    text-align: center;
    margin: 7px;

  }
  nav .btn:hover {
    font-weight: bold;
    background-color: #2e4b56;
    color: #dcdde1;
}

nav .btn:visited {
    color: #583042;
}
nav .btn:active {
    font-weight: bold;
}
img {

}
